<div class="decalage" style="background-image: url('<%= asset_path 'background-2.png' %>');">

  <h1>Inscrivez votre atelier d'artiste</h1>

  <%= render 'form', workshop: @workshop %>

  <%= link_to 'Back', workshops_path %>

</div>
