<h1> Bonjour <%= @user.email %> </h1>
<br>
<h2>
  Bienvenue chez  <h1><b> IMAGO </b></h1>
  <br><%=image_tag("logo IMAGO.png", height:"130vh")%>
  <br> La base de référencement des ateliers d'art
</h2>
