.corps {
  padding-left: 300px;
  padding-right: 300px;
}

.banner {
  color: #F8F8FF;
  text-align: center;
  height: 95vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-align : center;
}

.banner-text {
text-align: center;
}


.decalage {
  margin-left: 300px;
  margin-right: 300px;
}

.decalage h1 {
  text-align : center;
}

.form-actions {
  text-align : left;
}
.decouvertes {
  display: flex;
  justify-content: space-around;
}

.choix {
  position: flex;
  width: 100%;
  margin:12px;
  height:80px;
 }

.block {
  background-color: #E4E4E4;
  margin-top: 0px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

.centre {
  text-align: center;
}

.partenariats {
  color: black;
  background-color: white;
  height: 8vh;
  flex: 0 0 10%;
  font-size: 30px;
  padding-top: 20px;
}
.partenariats:hover {
  color: #DA5548;
  text-decoration: none;
}

.decouvertes2 {
  display: flex;
}

.ecartement {
  padding-bottom: 50px;
}

#mailchimp input.email {background: white; }

#mailchimp input {
color: black;
}
