body.pois-index {
  height: 100vh;

  .footer {
    display: none;
  }
}

.pois {
  flex: 1;
  display: flex;
  align-items: stretch;
  .pois-list {
    flex: 1;
    overflow-x: scroll;
    padding: 15px;
    .card {
      margin: 15px 0;
    }
  }
  .pois-map {
    width: 380px;
  }
}
