<div class="tabs">
<a class="tab active" href="#">
<h4> ELAELART : Chercheurs d'Ateliers d'art</h4>
    <%=image_tag("logo.png", height:"190")%>
    </a>
  <!-- Right Navigation -->


  <a class="tab" href="#">
    <h3>Partagez les ambiances de vos ateliers d'art</h3>
  </a>

</div>

