.navbar-top {
  background: #020003;
 display: flex;
 height: 7vh;
}

.general {
 display: flex;
 height: 20vh;
 padding-top: 20px;
 margin-left: 300px;
 margin-right: 300px;
}

.general h3 {
  display: flex;
  justify-content: center;
 font-size: 60px;
}

.decouvertes1 {
  text-align: center;
}

.navbar-titre {
  color: black;
  background-color: white;
  height: 13vh;
  flex: 0 0 10%;
  font-size: 50px;
  padding-top: 20px;
}
.navbar-titre:hover {
  color: #002fa7;
  text-decoration: none;
}

.navbar-titre-bis {
  color: black;
  background-color: white;
  height: 13vh;
  flex: 0 0 10%;
  font-size: 50px;
  padding-top: 20px;
}
.navbar-titre-bis:hover {
  color: #DA5548;
  text-decoration: none;
}

.navbar-titre-ter {
  color: black;
  background-color: white;
  height: 13vh;
  display: flex;
  font-size: 40px;
  padding-top: 20px;
  margin-right: 300px;
}
.navbar-titre-ter:hover{
  color: #DA5548;

}
.coucou {
  display: flex;
  justify-content: flex-end;
  margin-left: 300px;
  padding-left: 300px;
}

.dropdown{
  margin-right: 300px;
}
