.tabs {
 background: white ;
 display: flex;
 height: 15vh;
}

.tabs h3 {
 font-size: 30px;
 margin-top: 50;
}

.tab {
 background: #00237d;
 flex: 0 0 80%;
 text-align: center;
}

.tab.active {
 background: #00237d;
 flex: 0 0 20%;
}

.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: #F8F8FF;
  background-color: #143892;
  height: 15vh;
  flex: 0 0 10%;
  font-size: 30px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #A5260A;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}
