<p>Bienvenue <%= @email %>!</p>

<p> Vous pouvez confirmer l'email associé à votre compte IMAGO en cliquant sur ce lienn:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
