<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>IMAGO vous informe que votre email a été correctement modifié en <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>IMAGO vous informe que votre email a été correctement modifié en <%= @resource.email %>.</p>
<% end %>
