<div class="decalage" style="background-image: url('<%= asset_path 'background-2.png' %>');">

  <h1>Inscrivez votre atelier d'artisan d'art</h1>

 <%= render 'form', studio: @studio %>

<%= link_to 'Back', studios_path %>

</div>
